<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
  <!-- Head-->
  <head>
    <title>Biarum</title>
    <!-- Main Meta information-->
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="Biarum">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/style.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>
  <body>
    <!-- Header-->
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__logo">
            <!-- Logo-->
            <a class="logo" href="#">
              <img src="img/logo.png">
            </a>
          </div>
          <div class="header__nav">
            <nav class="nav">
              <div class="nav__hamburger">
                <a class="hamburger" href="javascript:void(0);">
                  <span></span>
                </a>
              </div>
              <ul class="nav__list">
                <li class="nav__item">
                  <a href="#">Lorem 1</a>
                </li>
                <li class="nav__item">
                  <a href="#">Lorem 2</a>
                </li>
                <li class="nav__item">
                  <a href="#">Lorem 3</a>
                </li>
                <li class="nav__item">
                  <a href="#">Lorem 4</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="header__btn">
            <a class="btn" href="#">Lorem Ipsum</a>
          </div>
        </div>
      </div>
    </header>
    <main></main>
    <script src="js/script.min.js"></script>
  </body>
</html>