include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  .container
    +e.wrapper
      +e.logo
        // Logo
        +b.A.logo(href="#")
          img(src="img/logo.png")

      +e.nav
        +b.NAV.nav
          +e.hamburger
            +b.A.hamburger(href="javascript:void(0);")
              span

          +e.UL.list
            +e.item
              a(href="#") Lorem 1
            +e.item
              a(href="#") Lorem 2
            +e.item
              a(href="#") Lorem 3
            +e.item
              a(href="#") Lorem 4

      +e.btn
        +b.A.btn(href="#") Lorem Ipsum

