<!-- Header-->
<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <!-- Logo-->
        <a class="logo" href="#">
          <img src="img/logo.png" />
        </a>
      </div>
      <div class="header__nav">
        <nav class="nav">
          <div class="nav__hamburger">
            <a class="hamburger" href="javascript:void(0);">
              <span></span>
            </a>
          </div>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#">Lorem 1</a>
            </li>
            <li class="nav__item">
              <a href="#">Lorem 2</a>
            </li>
            <li class="nav__item">
              <a href="#">Lorem 3</a>
            </li>
            <li class="nav__item">
              <a href="#">Lorem 4</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__btn">
        <a class="btn" href="#">Lorem Ipsum</a>
      </div>
    </div>
  </div>
</header>